@{
  Layout="Shared/_Layout.cshtml";
}

<h1>@Model["bands"].GetName()</h1>
@if (@Model["bandVenues"].Count != 0)
{
  <h3>@Model["bands"].GetName() has played at these venues</h3>
  <ul>
    @foreach(var venue in @Model["bandVenues"])
    {
      <li>@venue.GetName()</li>
    }
  </ul>
}
<h3>Add a venue to this band</h3>
<form action="/band/add_venue" method="post">
  <input id="band-id" type="hidden" name="band-id" value="@Model["bands"].GetId()">
  <select id = "venue-id" name="venue-id" type ="text">
    @foreach(var venue in @Model["allVenues"])
    {
      <option value="@venue.GetId()">venue.GetName()</option>
    }
  </select>
  <input type="date" name="concertDate">
  <button type="submit" name="button">Add venue</button>
</form>
